# VS folders
.vs/
Debug/
Release/
x64/
Win32/

CppProperties.json

# VS files with spaces
/attribute vector.vcxproj
/attribute?vector.vcxproj.filters
/attribute\ vector.vcxproj.user

# Build folders
build/
*/build/

# CMake files
/CMakeFiles/
/cmake_install.cmake

# Compiled
*.exe 
*.dll
*.lib
*.obj
*.o
*.a

# User files
*.user
*.suo
*.sln.docstates
/attribute vector.slnx
/CppProperties.json
.attribute vector.vcxproj